@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

:root {
  --main-color: #04223a;
  --secMain-color: #2a4761;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  font-family: "Roboto Mono", sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secMain-color);
}

.search {
  color: white;
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--main-color);
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 300px;
  background-color: var(--secMain-color);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  margin: 1rem;
}
.movie img {
  width: 100%;
}

.movie-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.4px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: plum;
  padding: 0.3rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: rgb(26, 167, 26);
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}

.overview {
  background-color: white;
  padding: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .overview {
  transform: translateY(0);
}
